/* COLOR VARIABLES */
:root {
    --primary-color: #ea453a;
    --secondary-color: #fbbc16;
    --text-color: #fff;
    --background-color: #121220;
    --secondary-background: #181c3b;
}


/* GENERAL */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Funnel Sans", serif;
    font-weight: 300;
    text-align: center;
}


/* NAVIGATION BAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: var(--text-color);
    text-decoration: none;
}

.logo{
    display: flex;
    justify-content: center;
    padding-left: 30px;
    align-items: center;
}

.logo p{
    font-size: 25px;
    text-align: left;
}

.logo img {
    width: 64px;
    height: 64px;
}

.calendar{
    display: flex;
    justify-content: center;  
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  
    border: none;
    border-radius: 30px;
    padding: 10px 5px 10px 20px;
    background-color: var(--secondary-background);
}

.horizontal-month-list {
    list-style-type: none; 
    margin: 0px auto 0px auto;
    padding: 0;
    display: flex;
}

.horizontal-month-list li a{
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.horizontal-month-list li {
    margin-right: 25px;
    font-size: 25px;
}

.horizontal-month-list li a:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.userpanel {
    display: flex;
    align-items: center;
    padding-right: 34px;
}

.userpanel p {
    font-size: 40px;
}

.userpanel p:hover{
    cursor: pointer;
}

.userpanel img{
    width: 64px;
    height: 64px;
}

.userpanel img:hover{
    cursor: pointer;
}


/* MAIN */
main{
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* FOOTER */
footer hr {
    background-color: var(--secondary-background);
    border:none;
    height: 1px;
}

footer p {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}


/* FORMS */
.form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.form-wrapper button, input[name="username"], input[name="password"], input[name="password1"], input[name="password2"], input[name="old_password"], input[name="new_password1"], input[name="new_password2"] {
    font-size: 20px;
    border-radius: 10px;
    border:none;
}

input[name="username"], input[name="password"], input[name="password1"], input[name="password2"], input[name="old_password"], input[name="new_password1"], input[name="new_password2"] {
    padding: 10px 20px;
    margin-bottom: 10px;box-sizing: border-box;
    transition: border-color 0.3s;
}

form input:focus {
    outline: none;
    border: 3px solid var(--primary-color) ;
}

.form-wrapper button {
    font-weight: 600;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    background-size: 400% 400%;
    color: var(--text-color);
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.1s ease-in-out;
    padding: 10px 50px;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.form-wrapper a{
    color: var(--primary-color);
    text-decoration: none;
}

.form-wrapper button:hover {
    animation: gradient-animation 2s ease infinite;
}


/* ACCOUNT SETTINGS */
.floating-block{
    margin: 0px auto;
    border: none;
    background-color: var(--secondary-background);
    border-radius: 45px;
    padding: 0px 50px 20px 50px;   
    width: 400px; 
}
.floating-block p {
    color: var(--primary-color);
}


/* TEXT */
h1 {
    font-size: 35px;
}
.item-header{
    text-align: left;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
}
.item-p{
    margin-top: 10px;
    padding-top: 0;
    text-align: left;
    font-weight: 400;
    font-size: 35px;
}

/* BTN */
button {
    font-weight: 600;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    background-size: 400% 400%;
    color: var(--text-color);
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.1s ease-in-out;
    width: 280px;
    padding: 10px 0px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
}
button:hover {
    animation: gradient-animation 2s ease infinite;
}

.redirect {
    text-decoration: none;
    color: var(--secondary-color);
    margin-left: 10px;
}

/* DASHBOARD GRID */
.parent {
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 0px 40px;
}

.parent div, .parent a {
    border-radius: 15px;
    padding: 5px 20px;
}

.parent a {
    background-color: var(--secondary-background);
    display: block;
    text-decoration: none; 
    color: inherit; 
}
    
.balance {
    grid-area: 1 / 1 / 2 / 2;
    background: linear-gradient(85deg, var(--primary-color), var(--secondary-color));
    background-size: 200% 400%;
    transition: all 0.1s ease-in-out;
}

.balance:hover{
    animation: gradient-animation 2s ease infinite;
}

.income {
    grid-area: 1 / 2 / 2 / 3;
}

.monthly-tracking {
    grid-area: 2 / 1 / 5 / 2;
    background-color: #16fbd5;
}
.spendings {
    grid-area: 3 / 2 / 5 / 3;
    background-color: #fb161e;
}
.income-source {
    grid-area: 3 / 3 / 5 / 4;
    background-color: #16fb22;
}
.expenses {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #fb1672;
}
.history {
    grid-area: 1 / 3 / 3 / 4;
    background-color: #1644fb;
}