/* COLOR VARIABLES */
:root {
    --primary-color: #ea453a;
    --secondary-color: #fbbc16;
    --text-color: #fff;
    --background-color: #121220;
    --secondary-background: #181c3b;
    --green: #06ff4c;
    --red: #dc3f4d;
}

/* ANIMATIONS */
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

/* GENERAL */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Funnel Sans", serif;
    font-weight: 300;
    text-align: center;
}

*::-webkit-scrollbar {
    width: 4px; 
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
    height: 10px;
}


/* NAVIGATION BAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: var(--text-color);
    text-decoration: none;
}

.logo{
    display: flex;
    justify-content: center;
    padding-left: 30px;
    align-items: center;
}

.logo p{
    font-size: 25px;
    text-align: left;
}

.logo img {
    width: 64px;
    height: 64px;
}

#currencyImg {
    width: 64px;
    height: auto;
}

.calendar{
    display: flex;
    justify-content: center;  
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  
    border: none;
    border-radius: 30px;
    padding: 10px 5px 10px 20px;
    background-color: var(--secondary-background);
}

.horizontal-month-list {
    list-style-type: none; 
    margin: 0px auto 0px auto;
    padding: 0;
    display: flex;
}

.horizontal-month-list li a{
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.horizontal-month-list li {
    margin-right: 25px;
    font-size: 25px;
}

.horizontal-month-list li a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.userpanel {
    display: flex;
    align-items: center;
    padding-right: 34px;
}

.userpanel p {
    font-size: 40px;
}

.userpanel p:hover{
    cursor: pointer;
}

.userpanel img{
    width: 64px;
    height: 64px;
}

.userpanel img:hover{
    cursor: pointer;
}

li.active a {
    color: var(--secondary-color);
}

/* MAIN */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* GENDER */
.gender-image {
    width: 300px;
    cursor: pointer;
    transition: all 0.1s;
}

.gender-image:hover {
    transform: scale(1.06);
}

.gender-options {
    margin-top: 70px;
}

#gender-form{
    height: 70%;
}

/* FOOTER */
footer{
    margin-top: auto;
}

footer hr {
    background-color: var(--secondary-background);
    border:none;
    height: 1px;
}

footer p {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}


/* FORMS */
.form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
    box-sizing: border-box;
    transition: all 0.1s;
}

.form-wrapper p {
    margin: 12px;
}

button[type="submit"], input, .form-control, textarea {
    font-size: 20px;
    border-radius: 10px;
    border:none;
    width: 280px;
}

.form-block {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.form-control {
    padding: 10px 20px;
    margin-bottom: 0px;
}

input {
    padding: 10px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

form input:focus, textarea:focus {
    outline: none;
    border: 3px solid var(--primary-color) ;
}

textarea#description-field{
    font-family: "Funnel Sans", serif;
    box-sizing: border-box;
    resize: none;
    width: 280px;
}

.form-wrapper a{
    color: var(--secondary-color);
    text-decoration: none;
}

.form-wrapper button {
    padding: 10px 50px;
    margin-top: 5px;
}

.form-wrapper button:hover {
    animation: gradient-animation 2s ease infinite;
}



/* ACCOUNT SETTINGS */
.floating-block{
    margin: 0px auto;
    border: none;
    background-color: var(--secondary-background);
    border-radius: 45px;
    padding: 0px 50px 20px 50px;   
    width: 400px; 
}
.floating-block p {
    color: var(--primary-color);
}


/* TEXT */
h1 {
    font-size: 35px;
}

.item-header{
    text-align: left;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
}

.item-p{
    margin-top: 10px;
    padding-top: 0;
    text-align: left;
    font-weight: 400;
    font-size: 35px;
}

/* BTN */
button, .button2 {
    font-weight: 600;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    background-size: 400% 400%;
    color: var(--text-color);
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.1s ease-in-out;
    width: 280px;
    padding: 10px 0px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
}
.button2 {
    width: 100px;
}

button:hover {
    animation: gradient-animation 2s ease infinite;
}


/* LINKS */
.redirect {
    text-decoration: none;
    color: var(--secondary-color);
    margin-left: 10px;
}


/* DASHBOARD GRID */
.parent {
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 0px 40px;
    box-sizing: border-box;
}

.parent>*{
    box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.647);
}

.parent div, .parent a {
    border-radius: 15px;
    padding: 5px 30px;
    background-color: var(--secondary-background);
}

.parent a {
    display: block;
    text-decoration: none; 
    color: inherit; 
    transition: all 0.1s;
}

.parent a:hover{
    transform: scale(1.02);
}
    
.balance {
    grid-area: 1 / 1 / 2 / 2;
    background: linear-gradient(85deg, var(--primary-color), var(--secondary-color));
    background-size: 200% 400%;
    transition: all 0.1s ease-in-out;
}

.balance:hover{
    animation: gradient-animation 2s ease infinite;
}

.income {
    grid-area: 1 / 2 / 2 / 3;
}


/* MONTHLY TRACKING */
.monthly-tracking {
    grid-area: 2 / 1 / 5 / 2;
}

.monthly-tracking h1, .income-source h1 {
    text-align: center;
}


/* SOURCES / SPENDINGS */
.spendings {
    grid-area: 3 / 2 / 5 / 3;
    box-sizing: border-box;
}

.spendings canvas {
    max-height: 180px;
}

.income-source {
    grid-area: 3 / 3 / 5 / 4;
}

.charts-container {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    gap: 10%;
}

.charts-container canvas {
    max-width: 400px;
    max-height: 400px;
}

.items-container {
    padding: 25px;
    border-radius: 15px;
    background-color: var(--secondary-background);
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-container button {
    margin-top: 0px;
}

.items-list {
    list-style: none;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 8px;
    width: 280px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.523);
}

.item:last-child {
    border-bottom: none;
}

.delete-icon {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s, color 0.2s;
}

.delete-icon:hover {
    transform: scale(1.2);
    color: var(--secondary-color);
}

.text-muted {
    color: #6c757d;
}


/* EXPENSES */
.expenses {
    grid-area: 2 / 2 / 3 / 3;
}


/* HISTORY */
.history {
    grid-area: 1 / 3 / 3 / 4;
    background-color: #1644fb;
}

.history h1{
    background-color: var(--secondary-background);
    text-align: center;
    margin-top: 0px;
    padding: 30px;
    position: sticky;
    top: 0px;
}

#history-item{
    padding: 0px 100px;
    overflow-y: scroll;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 20px;
}

.history p {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.history-income {
    color: var(--green);
}

.history-expense {
    color: var(--red);
}


/* TRANSACTION PAGES */
.container {
    width: 80%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    height: 83%;
    overflow: hidden;
}

.transaction-block {
    height: 87%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.form-block{
    background-color: var(--secondary-background);
    padding: 0px 40px 15px;
    border-radius: 15px;
}

.form-block button {
    margin-top: 0;
}

.transaction-block ul{
    padding-inline-start: 0px;
}

.transaction-block h1 {
    position: sticky;
    margin-top: 0;
    top: 0;
    padding: 22px 0px 9px 0px;
    background-color: var(--background-color);
    z-index: 10;
}

.transaction-item{
    width: 400px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    border: none;
    padding: 18px 45px;
    margin-bottom: 15px;
    border-radius: 15px; 
    background-color: var(--secondary-background);
}

.transaction-block span {
    display: block; 
}

.desc-amt{
    text-align: right;
}

/* LANDINGPAGE */
.functionality-wrap{
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: none;
    border-radius: 40px;
    width: 800px;
    margin: 0px auto 20px auto;
    box-shadow: -3px 8px 34px -9px rgb(0, 0, 0);
}

.functionality-wrap2{
    align-items: center;
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    border: none;
    border-radius: 40px;
    width: 1000px;
    margin: 0px auto 20px auto;
    box-shadow: -3px 8px 34px -9px rgb(0, 0, 0);
}

.functionality-wrap img, .functionalities img, .functionality-wrap2 img{
    margin: 0px auto;
    width: 600px;
    height: auto;
    border-radius: 30px;
    transition: all 0.2s;
}

.functionality-wrap img:hover{
    transform: scale(1.05);
    box-shadow: -3px 8px 19px -9px rgba(0, 0, 0);
}

.text-highlight{
    color: var(--secondary-color);
    
}

.functionality-wrap p{
    font-size: 20px;
    padding-top: 20px;
    margin: 0px auto;
    text-align: center;
    max-width: 600px;
}

.functionality-container{
    display: flex;
    justify-content: space-between;
}

.register-btn{
    margin-top: 0px;
}

/* Styles for long page */
.long-page {
    height: 230vh;
}

/* Styles for short page */
.short-page {
    height: 78vh;
}
