{% extends "../base.html" %}
{% load static %}

{% block title %}Account Settings - Personal Finance Tracker{% endblock %}

{% block content %}
<script src="{% static 'finance_tracker/js/themeColorChange.js' %}" defer></script>

<div class="floating-block">
    <h1>Hi {{user.username}}!</h1>
    <div class="theme-picker">
        <button id="colorChangeBtn">Change Color Theme</button>
        <div class="color-container" id="colorContainer"></div>
    </div>    
    <a href="{% url 'password_change' %}">
        <button>Change Password</button>
    </a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</div>
{% endblock %}