{% extends "../base.html" %}

{% block title %}Exspense - Personal Finance Tracker{% endblock %}

{% block content %}
<div class="container">
    <div class="form-wrapper form-block">
        <h1>New Expense</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="add-transaction-btn" type="submit">Add Expense</button>
        </form>
    </div>
    
    <div class="transaction-block">
        <h1>Expense History</h1>
        <ul class="transaction-list">
            {% for expense in expenses %}
            <li class="transaction-item">
                <span>
                    <strong>{{ expense.category }}</strong> <br>
                    {{ expense.date_incurred }} {{ expense.time_incurred }}
                </span>
                <span class='desc-amt'>
                    <strong>
                        -{%if currency_sign != 'zł' %}{{currency_sign}}{%endif%}{{ expense.converted_amount }}
                        {%if currency_sign == 'zł' %}{{currency_sign}}{%endif%}
                    </strong><br>
                    {{ expense.description }}
                </span>
            </li>
            {% empty %}
            <p>No expenses in {{ month }}.</p>
            {% endfor %}
        </ul>        
    </div>
</div>
{% endblock %}
