{% extends "../base.html" %}

{% block title %}Exspense - Personal Finance Tracker{% endblock %}

{% block content %}
<div class="container">
    <div class="form-wrapper form-block">
        <h1>New Expense</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="add-income-btn" type="submit">Add Expense</button>
        </form>
    </div>
    
    <div class="income-block">
        <h1>Expense History</h1>
        <ul class="income-list">
            {% for expense in expenses %}
            <li class="income-item">
                <span>
                    <strong>{{ expense.category }}</strong> <br>
                    {{ expense.date_incurred }} {{ expense.time_incurred }}
                </span>
                <span>
                    <strong>-${{ expense.amount }}</strong><br>
                    {{ expense.description }}  <!-- Corrected field name -->
                </span>
            </li>
            {% empty %}
            <p>No expenses recorded for {{ month }}.</p>
            {% endfor %}
        </ul>        
    </div>
    
</div>
{% endblock %}
