{% extends "../base.html" %}
{% load static %}

{% block title %}Income - Personal Finance Tracker{% endblock %}

{% block content %}
<script src="{% static 'finance_tracker/js/incomeForm.js' %}" defer></script>
<script src="{% static 'finance_tracker/js/datepicker.js'%}" defer></script>

<div class="container">
    <div class="form-wrapper form-block">
        <h1>New Income</h1>
        <form method="post" class="auth" novalidate>
            {% csrf_token %}

            {% for field in form %}
            <p class="form-group">
                {{ field.label_tag }}
                {% if field.id_for_label == 'dateInput'%}
                    {{ field }}
                    <div class="datepicker-wrapper">
                        <input class="form-control" id="datepickerInput" type='text' placeholder="mm/dd/yyyy" max-length="10">
                        <img id="datepickerImg" src="{% static 'finance_tracker/img/calendar.png' %}"></img>
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            </p>
                {% if field.errors %}
                    <!-- Add a class to highlight the field in JS -->
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            document.getElementById("{{ field.id_for_label }}").classList.add("error-input");
                        });
                    </script>
                {% endif %}
            {% endfor %}

            <button class="add-transaction-btn" type="submit">Add Income</button>
        </form>
    </div>

    <div class="transaction-block">
        <h1>Income History</h1>
        <ul class="transaction-list">
            {% for income in incomes %}
            <li class="transaction-item">
                <span>
                    <strong>{{ income.source }}</strong> <br>
                    {{ income.date_received }} {{ income.time_received }}
                </span>
                <span class='desc-amt'>
                    <strong>
                        +{%if currency_sign != 'zł' %}{{currency_sign}}{%endif%}{{income.converted_amount}}{%if currency_sign == 'zł' %}{{currency_sign}}{%endif%}
                    </strong><br>
                    {{income.description}}
                </span>
            </li>
            {% empty %}
            <p>No income in {{ month }}.</p>
            {% endfor %}
        </ul>        
    </div>  
</div>
{% endblock %}
