{% extends "../base.html" %}

{% block title %}Income - Personal Finance Tracker{% endblock %}

{% block content %}
<div class="container">
    <div class="form-wrapper">
        <h1>New Income</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Income</button>
        </form>
    </div>
    <div class="income-block">
        <h1>Income History</h1>
        <ul class="income-list">
            {% for income in incomes %}
            <li class="income-item">
                <span>
                    <strong>{{ income.source }}</strong> <br>
                    {{ income.date_received }} {{ income.time_received }}
                </span>
                <span>
                    <strong>+${{ income.amount }}</strong><br>
                    {{income.describtion}}
                </span>
            </li>
            {% empty %}
            <p>No income recorded for {{ month }}.</p>
            {% endfor %}
        </ul>        
    </div>  
</div>
<script>
    document.querySelector('input[name="source"]').setAttribute('placeholder', 'Source');
    document.querySelector('input[name="description"]').setAttribute('placeholder', 'description');
    document.querySelector('input[name="date"]').setAttribute('placeholder', 'date');
    document.querySelector('input[name="time"]').setAttribute('placeholder', 'time');
    document.querySelector('input[name="amount"]').setAttribute('placeholder', 'amount');
</script>
{% endblock %}