{% extends "../base.html" %}
{% block title %}Dashboard - Personal Finance Tracker{% endblock %}
{%load static%}

{% block content %}
    {%if user.is_authenticated%}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'finance_tracker/js/indexCharts.js' %}" defer></script>

    <div class="parent">
        <div class="balance">
            <h1 class="item-header">Available Balance</h1>
            <p class="item-p">${{user_balance}}</p>
        </div>
        <a class="income" href="{% url 'income' month_name=month_name %}">
            <h1 class="item-header">Income</h1>
            <p class="item-p">${{total_income_amount}}</p>
        </a>
        <div class="monthly-tracking chartblock">
            <h1 class="item-header">Monthly Tracking</h1>
            <canvas id="monthlyChart" data-income="{{income_data}}" data-expense="{{expense_data}}" data-months="{{months_labels}}"></canvas>
        </div>
        <a class="income-source chartblock" href="{% url 'sources'%}">
            <h1 class="item-header">Income Source</h1>
            <canvas id="sourceChart" data-source-labels="{{source_labels}}" data-source-totals="{{source_totals}}"></canvas>
        </a>
        <a class="spendings chartblock" href="{% url 'spendings'%}">
            <h1 class="item-header">Spendings</h1>
            <canvas id="categoryChart" data-category-labels="{{category_labels}}" data-category-totals="{{category_totals}}"></canvas>
        </a>
        <a class="expenses" href="{% url 'expenses' month_name=month_name %}">
            <h1 class="item-header">Expenses</h1>
            <p class="item-p">${{total_expenses_amount}}</p>
        </a>
        <div class="history" id="history-item">
            <h1 class="item-header">History</h1>
            <div class="history-container">
                {% for transaction in transactions %}
                    {% if transaction.date_received %}
                    <p class="item-p">
                        <span class="history-income"> + ${{ transaction.amount }}</span>
                        <span>{{transaction.date_received.month}}.{{transaction.date_received.day}}.{{transaction.date_received.year}}</span>
                    </p>
                    {% else %}
                    <p class="item-p">
                        <span class="history-expense"> - ${{ transaction.amount }}</span>
                        <span>{{transaction.date_incurred.month}}.{{transaction.date_incurred.day}}.{{transaction.date_incurred.year}}</span>
                    </p>
                    {% endif %}
                {% empty %}
                    <h3>No transactions</h3>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}