{% extends "../base.html" %}

{% block title %}Dashboard - Personal Finance Tracker{% endblock %}

{% block content %}
    {%if user.is_authenticated%}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="parent">
        <div class="balance">
            <h1 class="item-header">Available Balance</h1>
            <p class="item-p">${{user_balance}}</p>
        </div>
        <a class="income" href="{% url 'income' month_name=month_name %}">
            <h1 class="item-header">Income</h1>
            <p class="item-p">${{total_income_amount}}</p>
        </a>
        <div class="monthly-tracking">
            <h1 class="item-header">Monthly Tracking</h1>
            <canvas id="monthlyChart" width="400" height="220"></canvas>
        </div>
        <a class="income-source" href="{% url 'sources'%}">
            <h1 class="item-header">Income Source</h1>
            <canvas id="sourceChart" width="400" height="100"></canvas>
        </a>
        <div class="spendings">spendings</div>
        <a class="expenses" href="{% url 'expenses' month_name=month_name %}">
            <h1 class="item-header">Expenses</h1>
            <p class="item-p">${{total_expenses_amount}}</p>
        </a>
        <div class="history" id="history-item">
            <h1 class="item-header">History</h1>
            <div class="history-container">
                {% for transaction in transactions %}
                    {% if transaction.date_received %}
                    <p class="item-p">
                        <span class="history-income"> + ${{ transaction.amount }}</span>
                        <span>{{transaction.date_received.month}}.{{transaction.date_received.day}}.{{transaction.date_received.year}}</span>
                    </p>
                    {% else %}
                    <p class="item-p">
                        <span class="history-expense"> - ${{ transaction.amount }}</span>
                        <span>{{transaction.date_incurred.month}}.{{transaction.date_incurred.day}}.{{transaction.date_incurred.year}}  </span>
                    </p>
                    {% endif %}
                {% empty %}
                    <h3>No transactions</h3>
                {% endfor %}
            </div>
        </div>
    </div>
    <script defer>
        const ctx = document.getElementById('monthlyChart').getContext('2d');
        const incomeData = {{ income_data|safe }};
        const expenseData = {{ expense_data|safe }};
        const months = {{ months|safe }};
    
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [
                    {
                        label: 'Max Income',
                        data: incomeData,
                        backgroundColor: '#06ff4c', 
                        borderColor: 'rgba(0, 128, 0, 1)',
                        borderWidth: 1,
                        borderRadius: 7
                    },
                    {
                        label: 'Max Expenses',
                        data: expenseData, 
                        backgroundColor: '#dc3f4d',
                        borderColor: 'rgba(128, 0, 0, 1)',
                        borderWidth: 1,
                        borderRadius: 7
                    },
                ],
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                        align: 'center',
                        labels: {
                            usePointStyle: true,
                            color: '#ffffff',
                        },
                    },
                    title: {
                        display: false,
                    },
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                return `$${context.raw.toLocaleString()}`;
                            }
                        }
                    }
                },
                layout: {
                    padding: {
                        left: 5,
                        right: 5,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            color: '#ffffff', 
                        },
                        grid: {
                            display: false 
                        }
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            color: '#ffffff', 
                        },
                        grid: {
                            display: false 
                        }
                    },
                },
            },
            plugins: [],
            devicePixelRatio: window.devicePixelRatio
        });
    </script>
    <script defer>
        const sourceCtx = document.getElementById('sourceChart').getContext('2d');
        const sourceLabels = {{ source_labels|safe }};
        const sourceTotals = {{ source_totals|safe }};

         // Dynamically adjust canvas width
        const canvas = document.getElementById('sourceChart');
        const minWidth = 100; // Minimum width for the canvas
        const barWidth = 60; // Width per bar (adjust as needed)
        const maxWidth = Math.max(minWidth, sourceLabels.length * (barWidth + 10));
        canvas.style.maxWidth = `${maxWidth}px`;
    
        const sourceChart = new Chart(sourceCtx, {
            type: 'bar',
            data: {
                labels: sourceLabels,
                datasets: [{
                    label: 'Income Amount',
                    data: sourceTotals,
                    backgroundColor: [
                        '#f7b731',
                        '#eb3b5a',
                        '#20bf6b',
                        '#45aaf2',
                        '#fd9644'
                    ],
                    borderWidth: 0,
                    borderRadius: 7,
                    maxBarThickness: 50,
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false,
                    },
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                return `$${context.raw.toLocaleString()}`;
                            }
                        }
                    }
                },
                layout: {
                    padding: {
                        bottom: 18
                    },
                },
                scales: {
                    x: {
                        ticks: {
                            color: '#ffffff',
                        },
                        grid: {
                            display: false
                        },
                    },
                    y: {
                        border: {
                            display: false,
                        },
                        beginAtZero: true,
                        ticks: {
                            display: false
                        },
                        grid: {
                            display: false
                        },
                    },
                },
            }
        });
    </script>
    {% endif %}
{% endblock %}