{% extends "../base.html" %}
{%load static%}
{% block title %}Categories - Personal Finance Tracker{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="{% static 'finance_tracker/js/categoryChart.js' %}" defer></script>

<div class="charts-container">
    <div class="items-container">
        <h1>Expense Categories</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>
        <ul class="items-list">
            {% for category in categories %}
            <li class="item">
                <span class="item-name">{{ category.name }}</span>
                {% if category.name != 'Other' %}
                    <a href="?delete={{ category.id }}" class="delete-icon" 
                       onclick="return confirm('Are you sure you want to delete this category?');">
                        &times;
                    </a>
                {% else %}
                    <span class="text-muted">(Default)</span>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    <canvas id="categoryChart" width="300" height="300" data-category-labels="{{category_labels}}" data-category-totals="{{category_totals}}"></canvas>
</div>
{% endblock %}