{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">   
    <link href="{% static 'finance_tracker/styles.css' %}" rel="stylesheet">
    <title>{% block title %}Personal Finance Tracker{% endblock %}</title>
    <script src="{% static 'finance_tracker/script.js' %}" defer></script>
</head>

<body>
    <nav>
        <div class="logo">
            <img src="{% static 'finance_tracker/img/personal_finance_tracker_logo.png'%}"
                alt="Personal Finance Tracker Logo">
            <p>
                Personal Finance
                <br>
                Tracker
            </p>
        </div>
        {% if user.is_authenticated %}
            {% if request.resolver_match.url_name != 'account_settings' and request.resolver_match.url_name != 'password_change' and request.resolver_match.url_name != 'password_change_done' %}
            <div class="calendar">
                <ul class="horizontal-month-list">
                    <li><a href="{% url request.resolver_match.view_name 'Jan' %}">Jan</a></li>
                    <li><a href="{% url request.resolver_match.view_name 'Feb' %}">Feb</a></li>
                    <li><a href="{% url request.resolver_match.view_name 'Mar' %}">Mar</a></li>
                    <li><a href="{% url request.resolver_match.view_name 'Apr' %}">Apr</a></li>
                    <li><a href="{% url request.resolver_match.view_name 'May' %}">May</a></li>
                    <li><a href="{% url request.resolver_match.view_name 'Jun' %}">Jun</a></li>
                    <li><a href="{% url request.resolver_match.view_name 'Jul' %}">Jul</a></li>
                    <li><a href="{% url request.resolver_match.view_name 'Aug' %}">Aug</a></li>
                    <li><a href="{% url request.resolver_match.view_name 'Sep' %}">Sep</a></li>
                    <li><a href="{% url request.resolver_match.view_name 'Oct' %}">Oct</a></li>
                    <li><a href="{% url request.resolver_match.view_name 'Nov' %}">Nov</a></li>
                    <li><a href="{% url request.resolver_match.view_name 'Dec' %}">Dec</a></li>
                </ul>
            </div>
            {% endif %}
        {% endif %}
        <div class="userpanel">
            {% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'register' %}
                {% if user.is_authenticated %}
                <p>$</p>
                <a href="{% url 'account_settings' %}">
                    <img src="{% static 'finance_tracker/img/other_avatar.png'%}" alt="user icon">
                </a>
                
                {% else %}
                <a class="redirect" href="{% url 'login' %}">Login</a>
                <a class="redirect" href="{% url 'register' %}">Register</a>
                {% endif %}
            {% endif %}
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <hr>
        <p>&copy; Personal Finance Tracker 2025</p>
    </footer>
</body>

</html>