{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">   
    <link href="{% static 'finance_tracker/styles.css' %}" rel="stylesheet">
    {%if request.resolver_match.url_name != 'landing_page'%}
    <script src="{% static 'finance_tracker/js/index.js' %}" defer></script>
    <script src="{% static 'finance_tracker/js/theme.js' %}"></script>
    {%endif%}
    <title>{% block title %}Personal Finance Tracker{% endblock %}</title>
    <link rel="icon" href="{% static 'finance_tracker/img/us-dollar.png'%}">
</head>

<body>
    <nav>
        {% if user.is_authenticated %}
        <a href="{% url 'index' %}">
        {% else %}
        <a href="{% url 'landing_page' %}">
        {% endif %}
            <div class="logo">
                <img src="{% static 'finance_tracker/img/personal_finance_tracker_logo.png'%}"
                    alt="Personal Finance Tracker Logo">
                    <p>
                        Personal Finance
                        <br>
                        Tracker
                    </p>
            </div>
        </a>
        {% if user.is_authenticated %}
            {% if request.resolver_match.url_name != 'account_settings' and request.resolver_match.url_name != 'password_change' and request.resolver_match.url_name != 'password_change_done' and request.resolver_match.url_name != 'select_gender' and request.resolver_match.url_name != 'landing_page'%}
            <div class="calendar-wrapper">
                <div class="months-picker">
                    <div class="months-circle" id="monthsTrigger" data-month="{{month_name}}">
                        <span id="monthsDisplay" class="month-display"></span>
                        <div class="months-scroll" id="monthsScroll">
                            <ul class="month-list" id="monthList">
                                {% for month in months %}
                                    <li class="{% if month == month_name %}active{% endif %}">
                                        <a href="{% url request.resolver_match.view_name month current_year %}">{{ month }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="year-picker">
                    <div class="year-circle" id="yearTrigger">{{ current_year }}
                        <div class="year-scroll" id="yearScroll">
                            <ul class="year-list">
                                {% for y in years %}
                                    <li class="{% if y == current_year %}active{% endif %}">
                                        <a href="{% url request.resolver_match.view_name month_name y%}">{{ y }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}
        <div class="userpanel">
            {% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'register' and request.resolver_match.url_name != 'select_gender' %}
                {% if user.is_authenticated %}
                <img id="currencyImg" src="{% static 'finance_tracker/img/exchange.png'%}">
                <div id="currencySelector" data-url="{% url 'set_currency' %}">
                    <div class="currency-wrapper">
                        <div class="currency-option" data-currency="PLN"><img src="{% static 'finance_tracker/img/zloty.png' %}" alt="PLN" class="currency-image"></div>
                        <div class="currency-option" data-currency="USD"><img src="{% static 'finance_tracker/img/dollar.png' %}" alt="USD" class="currency-image"></div>
                        <div class="currency-option" data-currency="GBP"><img src="{% static 'finance_tracker/img/pound.png' %}" alt="GBP" class="currency-image"></div>
                        <div class="currency-option" data-currency="EUR"><img src="{% static 'finance_tracker/img/euro.png' %}" alt="EUR" class="currency-image"></div>
                    </div>
                </div>
                <a href="{% url 'account_settings' %}">
                    <img id="userImg" src="{% static 'finance_tracker/img/'|add:gender|add:'.png'%}" alt="user icon">
                </a>
                {% else %}
                <a class="redirect" href="{% url 'login' %}"><button class="button2">Login</button></a>
                <a class="redirect" href="{% url 'register' %}"><button class="button2">Register</button></a>
                {% endif %}
            {% endif %}
        </div>
    </nav>
    {% if request.resolver_match.url_name != 'landing_page' %}
    <main class="short-page">
    {% else %}
    <main class="long-page">
    {% endif %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <hr>
        <p>&copy; Personal Finance Tracker 2025</p>
    </footer>
</body>
</html>