{% extends "../base.html" %}

{% block title %}Change Password - Personal Finance Tracker{% endblock %}

{% block content %}
<div class="form-wrapper">
    <h1>Change Password</h1>
    <form method="post" class="auth">
        {% csrf_token %}
        <p class="form-group">
            {{ form.old_password }}
        </p>
        <p class="form-group">
            {{ form.new_password1 }}
        </p>
        <p class="form-group">
            {{ form.new_password2 }}
        </p>
        <button type="submit">Change Password</button>
    </form>
    <p><a href="{% url 'account_settings' %}">Back to Profile</a></p>
</div>
<script>
    document.querySelector('input[name="old_password"]').setAttribute('placeholder', 'Current Password');
    document.querySelector('input[name="new_password1"]').setAttribute('placeholder', 'New Password');
    document.querySelector('input[name="new_password2"]').setAttribute('placeholder', 'Confirm New Password');
</script>
{% endblock %}
