{% extends "../base.html" %}
{% load static %}
{% block title %}Change Password - Personal Finance Tracker{% endblock %}

{% block content %}
<script src="{% static 'finance_tracker/js/pswChange.js' %}" defer></script>

<div class="form-wrapper">
    <h1>Change Password</h1>
    <form method="post" class="auth" novalidate>
        {% csrf_token %}

        <!-- Old Password Field -->
        <p class="form-group {% if form.old_password.errors %}has-error{% endif %}">
            {{ form.old_password }}
            {% if form.old_password.errors %}
            <div class="error-wrapper">
                <img src="{% static 'finance_tracker/img/alert.png' %}">
                <div class="error-heading">
                    <h3>Something Went Wrong!</h3>
                    <div class="error-text">
                        {% for error in form.old_password.errors %}
                        <p class="error-text">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </p>

        <!-- New Password 1 Field -->
        <p class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
            <div class="error-wrapper">
                <img src="{% static 'finance_tracker/img/alert.png' %}">
                <div class="error-heading">
                    <h3>Something Went Wrong!</h3>
                    <div class="error-text">
                        {% for error in form.new_password1.errors %}
                        <p class="error-text">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </p>

        <!-- New Password 2 Field -->
        <p class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
            <div class="error-wrapper">
                <img src="{% static 'finance_tracker/img/alert.png' %}">
                <div class="error-heading">
                    <h3>Something Went Wrong!</h3>
                    <div class="error-text">
                        {% for error in form.new_password2.errors %}
                        <p class="error-text">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </p>

        <!-- Non-field Errors -->
        {% if form.non_field_errors %}
        <div class="error-wrapper">
            <img src="{% static 'finance_tracker/img/alert.png' %}">
            <div class="error-heading">
                <h3>Something Went Wrong!</h3>
                <div class="error-text">
                    {% for error in form.non_field_errors %}
                    <p class="error-text">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        <button type="submit">Change Password</button>
    </form>
    <p><a href="{% url 'account_settings' %}">Back to Profile</a></p>
</div>
{% endblock %}
