{% extends "../base.html" %}

{% block title %}Register - Personal Finance Tracker{% endblock %}

{% block content %}
<div class="form-wrapper">
    <h1>Register</h1>
    <form method="post" class="auth">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password1 }}
        </div>
        <div class="form-group">
            {{ form.password2 }}
        </div>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a class="redirect" href="{% url 'login' %}">Login</a></p>
</div>
<script>   
    document.querySelector('input[name="username"]').setAttribute('placeholder', 'Username');
    document.querySelector('input[name="password1"]').setAttribute('placeholder', 'Password');
    document.querySelector('input[name="password2"]').setAttribute('placeholder', 'Confirm Password');
</script>
{% endblock %}